/* Footer */
.footer {
  background-color: #222;
  color: #f8f9fa;
  padding: 3rem 2rem 1rem;
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}

.footerSection {
  flex: 1;
  min-width: 200px;
}

.footerSection h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #fff;
  position: relative;
}

.footerSection h3::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 30px;
  height: 2px;
  background-color: #dfe8f8;
}

.footerSection p {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: #aaa;
}

.footerSection a {
  color: #3872fb;
  text-decoration: underline;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.footerSection ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerSection ul li {
  margin-bottom: 0.5rem;
}

.footerSection ul li a {
  font-size: 0.9rem;
  color: #aaa;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footerSection ul li a:hover {
  color: #ffffff;
}

.socialIcons {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.socialIcons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  transition: all 0.3s ease;
}

.socialIcons img {
  width: 35px;
  height: 36px;
}


.socialIcons a:hover {
  background-color: #3a86ff;
  transform: translateY(-3px);
}

.newsletterForm {
  display: flex;
  margin-top: 1rem;
}

.newsletterForm input {
  flex: 1;
  padding: 0.5rem;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
  font-size: 0.9rem;
}

.newsletterForm button {
  background-color: #43255c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.newsletterForm button:hover {
  background-color: #43255c;
}

.copyright {
  text-align: center;
  margin-top: 3rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.copyright p {
  font-size: 0.9rem;
  color: #888;
}